h1 {color: black;
font-size: 40px;
font-family: 'Montserrat', sans-serif;
}

p {color: white;
font-size: 18px;
font-family: 'Montserrat', sans-serif;
}

h2 {color: black; 
	font-size: 40px;
font-family: 'Montserrat', sans-serif;
}



a:hover {color: green;}

img {
	height: 200px;
}
body
{text-align: center;
background-color: rgb(240,240,240)}

ul {font-size: 60px}

#banner { 
	background-image: url(https://images.pexels.com/photos/1851471/pexels-photo-1851471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ; 
	padding: 380px 0
	 ;

}


#ola {font-size: 30px
}


